* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

#header {
  border-bottom: 4px solid #000;
  width: 811px;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 2rem auto
}

#name {
  font-family: "tinos";
  font-size: 70px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5em
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 26px;
  padding: 0.5em
}

.slide {
  height: 36em;
  width: 100%
}

.carousel {
  align-items: center;
  display: flex;
  margin: 2rem auto;
  overflow: hidden;
  position: relative;
  width: 300px;
}
.carousel__images {
  display: flex;
  transform: translateX(0);
  transition: transform 0.25s;
}
.carousel__images img {
  border-radius: 5px;
}
.carousel__button {
  background: teal;
  border: 0;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  height: 3rem;
  opacity: 0.25;
  position: absolute;
  transition: opacity 0.25s;
  width: 3rem;
  z-index: 1;
}
.carousel__button.previous {
  left: 5px;
}
.carousel__button.next {
  right: 5px;
}
.carousel__button:hover {
  opacity: 0.5;
}