* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
} 

@font-face {
  font-family: 'trinh';
  src: url('TRINNU1H.TTF') format('truetype'); 
}

@font-face {
  font-family: 'nunito';
  src: url('NunitoSans-Light.ttf')
}

html {
  font-size: 10px;
}

#header {
  width: 811px;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 2rem auto;

}

#name {
  font-family: 'trinh';
  letter-spacing: 10px;
  font-weight: 100;
  font-size: 70px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5em;
  animation: fadeInAnimation ease 1.5s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

.namelogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3.5em;
  animation: fadeInAnimation ease 1.5s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
  border-top: 1px solid black;
  border-bottom: 1px solid black; 
}

#nav {
  border-bottom: 2px solid #000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 26px;
  padding: 0.5em;
  animation: fadeInAnimation ease 3s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

button {
  font-family: 'trinh';
  border: none;
  background: none;
  font-size: 32px;
  cursor: pointer;
  outline: none;
}

#work {
  color: gray
}

button:hover {
  color: gray;
}

.slide {
  height: 60em;
  width: 844px
}

.carousel {
  align-items: center;
  display: flex;
  margin: 2rem auto;
  overflow: hidden;
  position: relative;
  width: 844px;
  animation: fadeInAnimation ease 3s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}
.carousel__images {
  display: flex;
  transform: translateX(0);
  transition: transform 0.25s;
  width: 2532px;
}

.about-slide {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about-text {
  font-size: 16px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.brandlist {
  text-align: center;
}

.brandlist-link {
  text-decoration: none;
  font-size: 18px
}

.brandlist-link:visited {
  text-decoration: none;
  color: #000;
  border: none
}


.about-image {
  margin: 25px;
  margin-top: 44px
}

.gallery {
  margin-left: 11px
}

.gallery img {
  transition: 1s;
  padding: 5px;
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);

}

.contact-slide{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-middle {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-email {
  font-family: 'nunito'
}

.insta-link {
  text-decoration: none;
  font-size: 24px
}

.insta-link:visited {
  text-decoration: none;
  color: #000;
  border: none
}

.insta-icon {
  width:4%;

}

.contact-footer {
  margin-left: auto;
  margin-right: auto
}

#footer {
  border-top: 2px solid #000;
  width: 811px;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 2rem auto;
  animation: fadeInAnimation ease 3s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

@media only screen and (min-width: 768px) {
  button {
    font-size: 55px
  }

  .about-bio {
    font-size: 34px
  }

  .inquiries {
    font-size: 26px
  }

  .namelogo {
    width: 110%
  }

}